<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993462378137-2ukgkvhtm9ufpr2i18f5ppeuin106jdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993462378137-2ukgkvhtm9ufpr2i18f5ppeuin106jdo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>993462378137-bkc9vr48tahq12ahrrtpc15cs83bvs95.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFdJ-N2AnhvH1EAlkTSwALsITl5kJ4MPE</string>
	<key>GCM_SENDER_ID</key>
	<string>993462378137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartersvision.markets-owner</string>
	<key>PROJECT_ID</key>
	<string>market2-9dd0b</string>
	<key>STORAGE_BUCKET</key>
	<string>market2-9dd0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993462378137:ios:6174b918e7bb384294a208</string>
	<key>DATABASE_URL</key>
	<string>https://market2-9dd0b.firebaseio.com</string>
</dict>
</plist>